body {
    text-align: center;
    background-color: darkcyan;
}


h1 {
    color: orange;
}


h2 {
    color: darkred;
    
    
}
 
img {
    width: 800px;
}
h3 {
    color: orange;
}


